-- Affiliate Marketing System Database Schema
-- Add these tables to your existing database

USE digitalkhazana;

-- Affiliates Table
CREATE TABLE IF NOT EXISTS affiliates (
    id INT PRIMARY KEY AUTO_INCREMENT,
    user_id INT NOT NULL,
    referral_code VARCHAR(50) UNIQUE NOT NULL,
    commission_type ENUM('percentage', 'flat') DEFAULT 'percentage',
    commission_value DECIMAL(10,2) NOT NULL DEFAULT 10.00,
    total_earnings DECIMAL(10,2) DEFAULT 0,
    pending_earnings DECIMAL(10,2) DEFAULT 0,
    paid_earnings DECIMAL(10,2) DEFAULT 0,
    total_referrals INT DEFAULT 0,
    total_sales INT DEFAULT 0,
    status ENUM('active', 'inactive', 'suspended') DEFAULT 'active',
    payment_method VARCHAR(50),
    payment_details TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE,
    INDEX idx_referral_code (referral_code),
    INDEX idx_user_id (user_id)
);

-- Affiliate Referrals Table
CREATE TABLE IF NOT EXISTS affiliate_referrals (
    id INT PRIMARY KEY AUTO_INCREMENT,
    affiliate_id INT NOT NULL,
    referred_user_id INT,
    referral_code VARCHAR(50) NOT NULL,
    ip_address VARCHAR(45),
    user_agent TEXT,
    converted BOOLEAN DEFAULT FALSE,
    conversion_date DATETIME,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (affiliate_id) REFERENCES affiliates(id) ON DELETE CASCADE,
    FOREIGN KEY (referred_user_id) REFERENCES users(id) ON DELETE SET NULL,
    INDEX idx_affiliate_id (affiliate_id),
    INDEX idx_referral_code (referral_code)
);

-- Affiliate Commissions Table
CREATE TABLE IF NOT EXISTS affiliate_commissions (
    id INT PRIMARY KEY AUTO_INCREMENT,
    affiliate_id INT NOT NULL,
    order_id INT NOT NULL,
    referral_id INT,
    commission_amount DECIMAL(10,2) NOT NULL,
    commission_type ENUM('percentage', 'flat') NOT NULL,
    commission_rate DECIMAL(10,2) NOT NULL,
    order_amount DECIMAL(10,2) NOT NULL,
    status ENUM('pending', 'approved', 'paid', 'cancelled') DEFAULT 'pending',
    level INT DEFAULT 1,
    parent_affiliate_id INT,
    notes TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    approved_at DATETIME,
    paid_at DATETIME,
    FOREIGN KEY (affiliate_id) REFERENCES affiliates(id) ON DELETE CASCADE,
    FOREIGN KEY (order_id) REFERENCES orders(id) ON DELETE CASCADE,
    FOREIGN KEY (referral_id) REFERENCES affiliate_referrals(id) ON DELETE SET NULL,
    FOREIGN KEY (parent_affiliate_id) REFERENCES affiliates(id) ON DELETE SET NULL,
    INDEX idx_affiliate_id (affiliate_id),
    INDEX idx_order_id (order_id),
    INDEX idx_status (status)
);

-- Affiliate Payouts Table
CREATE TABLE IF NOT EXISTS affiliate_payouts (
    id INT PRIMARY KEY AUTO_INCREMENT,
    affiliate_id INT NOT NULL,
    amount DECIMAL(10,2) NOT NULL,
    payment_method VARCHAR(50) NOT NULL,
    payment_details TEXT,
    transaction_id VARCHAR(100),
    status ENUM('pending', 'processing', 'completed', 'failed') DEFAULT 'pending',
    notes TEXT,
    requested_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    processed_at DATETIME,
    completed_at DATETIME,
    FOREIGN KEY (affiliate_id) REFERENCES affiliates(id) ON DELETE CASCADE,
    INDEX idx_affiliate_id (affiliate_id),
    INDEX idx_status (status)
);

-- Affiliate MLM Structure Table (Multi-Level Marketing)
CREATE TABLE IF NOT EXISTS affiliate_mlm_structure (
    id INT PRIMARY KEY AUTO_INCREMENT,
    affiliate_id INT NOT NULL,
    parent_affiliate_id INT,
    level INT DEFAULT 1,
    path VARCHAR(255),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (affiliate_id) REFERENCES affiliates(id) ON DELETE CASCADE,
    FOREIGN KEY (parent_affiliate_id) REFERENCES affiliates(id) ON DELETE CASCADE,
    INDEX idx_affiliate_id (affiliate_id),
    INDEX idx_parent_affiliate_id (parent_affiliate_id)
);

-- Affiliate Promotional Materials Table
CREATE TABLE IF NOT EXISTS affiliate_materials (
    id INT PRIMARY KEY AUTO_INCREMENT,
    title VARCHAR(255) NOT NULL,
    description TEXT,
    material_type ENUM('banner', 'email', 'social', 'video', 'document') NOT NULL,
    file_path VARCHAR(255),
    file_url VARCHAR(255),
    dimensions VARCHAR(50),
    file_size INT,
    download_count INT DEFAULT 0,
    status ENUM('active', 'inactive') DEFAULT 'active',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    INDEX idx_material_type (material_type)
);

-- Affiliate Clicks Tracking Table
CREATE TABLE IF NOT EXISTS affiliate_clicks (
    id INT PRIMARY KEY AUTO_INCREMENT,
    affiliate_id INT NOT NULL,
    referral_code VARCHAR(50) NOT NULL,
    ip_address VARCHAR(45),
    user_agent TEXT,
    referer_url TEXT,
    landing_page VARCHAR(255),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (affiliate_id) REFERENCES affiliates(id) ON DELETE CASCADE,
    INDEX idx_affiliate_id (affiliate_id),
    INDEX idx_created_at (created_at)
);

-- Affiliate Settings Table
CREATE TABLE IF NOT EXISTS affiliate_settings (
    id INT PRIMARY KEY AUTO_INCREMENT,
    setting_key VARCHAR(100) UNIQUE NOT NULL,
    setting_value TEXT,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);

-- Insert Default Affiliate Settings
INSERT INTO affiliate_settings (setting_key, setting_value) VALUES
('affiliate_enabled', '1'),
('default_commission_type', 'percentage'),
('default_commission_value', '10'),
('min_payout_amount', '500'),
('mlm_enabled', '1'),
('mlm_levels', '3'),
('level_1_commission', '10'),
('level_2_commission', '5'),
('level_3_commission', '2'),
('auto_approve_affiliates', '0'),
('cookie_duration_days', '30')
ON DUPLICATE KEY UPDATE setting_value = VALUES(setting_value);

-- Add affiliate_id column to orders table if not exists
ALTER TABLE orders ADD COLUMN IF NOT EXISTS affiliate_id INT DEFAULT NULL;
ALTER TABLE orders ADD COLUMN IF NOT EXISTS referral_code VARCHAR(50) DEFAULT NULL;
ALTER TABLE orders ADD INDEX IF NOT EXISTS idx_affiliate_id (affiliate_id);
